<div class="conatiner">
    <h2>Summary</h2>
    <!-- For balance -->
    <div class="panel panel-default">
        <div class="panel-heading">Balance</div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Credit</th>
                    <td>{{credit}}</td>
                </tr>
                <tr>
                    <th>Debit</th>
                    <td>{{debit}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{total}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- For Customers -->
    <div class="panel panel-default">
        <div class="panel-heading">Customers</div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>In Credit</th>
                    <td>{{creditCutomerNumber}}</td>
                </tr>
                <tr>
                    <th>In Debit</th>
                    <td>{{debitCustomerNumber}}</td>
                </tr>  
                <tr>
                    <th>Total</th>
                    <td>{{creditCutomerNumber + debitCustomerNumber}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>