<div class="conatiner">
    <h2>Debit</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let cust of debitCustomer">
                    <td (click)="navigateToTransaction(cust)" >
                        {{cust.name}}
                    </td>
                    <td>
                        {{cust.debit}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>