<div class="panel panel-default">
    <div class="panel-heading">Add Customer</div>
    <div class="panel-body">
        <form [formGroup]="addCustomerForm">
            <div class="form-group">
                <label class="center-block">Name:
                    <input class="form-control" formControlName="name" style="max-width:200px">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Address:
                    <input class="form-control" formControlName="address"  style="max-width:200px">
                </label>
            </div>
            <div class="form-group">
                    <label class="center-block">Phone Number:
                        <input class="form-control" formControlName="mobile_no"  style="max-width:200px" type="number">
                    </label>
                </div>
            <div class="form-group">
                <label class="center-block">Date:
                    <input type="date" class="form-control" formControlName="date"  style="max-width:200px">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Comment:
                    <input class="form-control" formControlName="comment" style="max-width:200px">
                </label>
            </div>
            <div class="form-group radio">
                <h4>Debit:</h4>
                <label class="center-block">
                    <input type="radio" value="debit" formControlName="transactionType" name="transactionType" style="max-width:200px">
                </label>
            </div>
            <div class="form-group radio">
                <h4>Credit:</h4>
                <label class="center-block">
                    <input type="radio" value="credit" formControlName="transactionType" name="transactionType" style="max-width:200px">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Amount:
                    <input class="form-control" formControlName="amount" style="max-width:200px" type="number">
                </label>
            </div>

            <button class="btn btn-primary bs-button" (click)="addCustomer()">Add</button>
        </form>
    </div>
</div>