<div >
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>Khata Book</a>
            <ul class='nav navbar-nav'>
                <li>
                    <a class="hand-cursor" [routerLink]="['/summary']">Summary</a>
                </li>
                <li>
                    <a [routerLink]="['/debit']">Debit</a>
                </li>
                <li>
                    <a [routerLink]="['/credit']">Credit</a>
                </li>
                <li style="align-content: right">
                    <a [routerLink]="['/add-customer']" data-toggle="tooltip" title="Add Customer">
                        <i class="fa fas fa-user-plus fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet> </router-outlet>
    </div>
</div>