
<div class="conatiner">
  <h2>Transaction </h2>
  <div class="panel panel-default" style="max-width: 500px">
      <div class="panel-heading">{{customer.name}}<span style="padding-left: 400px;" class="glyphicon glyphicon-edit" (click)="prepareEdit()"></span> </div>
      <div class="panel-body">
          <p><span class="glyphicon glyphicon-map-marker"></span> {{customer.address}}</p>  
          <p><span class="glyphicon glyphicon-earphone"></span> {{customer.mobile_no}}</p> 
          <span style="padding-left: 430px;">{{customer.balance}}</span>
      </div>
  </div>
</div>

<div class="modal fade" data-key  board="false" data-backdrop="static" id="editModal" role="dialog">
  <div class="modal-dialog" style="max-width:419px;">
      
    <div class="modal-content">
      <div class="modal-header popup-header">
        <h4 class="modal-title">Edit Transaction </h4>
      </div>
      <form [formGroup]="editForm" autocomplete="off" novalidate>
        <div class="modal-body">
                <div class="form-group">
                        <label class="center-block">Name:
                            <input class="form-control" formControlName="name" style="max-width:200px">
                        </label>
                    </div>
        
                    <div class="form-group">
                        <label class="center-block">Address:
                            <input class="form-control" formControlName="address"  style="max-width:200px">
                        </label>
                    </div>
                    <div class="form-group">
                            <label class="center-block">Phone Number:
                                <input class="form-control" formControlName="mobile_no"  style="max-width:200px" type="number">
                            </label>
                        </div>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary"   data-dismiss="modal" (click)="saveCustomer()">
            <span class="glyphicon glyphicon-save"></span> Save 
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal('#editModal')">
            <span class="glyphicon glyphicon-remove"></span> Close </button>
        </div>
      </form>
    </div>
  </div>
</div>